<html ng-app="storageExample">

<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Storage Example</title>
	
	<script src="bower_components/angular/angular.js" > </script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script src="js/app.js" > </script>
	<script src="js/controllers/contactCtrl.js" > </script>
	
</head>

<body class="layout" ng-controller="contactCtrl">
	
		
		
		<div style="overflow: hidden;">
			<h3 class="margin-top align-left" >Session Storage Example</h3>
			<h5 class="margin-top2 align-left margin-left"> using AngularJS</h5>
		
		</div>
			<hr style="margin-top: 10px">
		<div class="block-group contact-form center">
			<form class="form" name="contactForm">
			
				<div class="block margin-left margin-top margin-bottom">
					<img src="images/contact.jpg" class="contact-image">
				</div>
				<div class="block margin-left margin-top margin-bottom">
					<div>
						<input class="form-control margin-top" name="name" ng-model="contact.name" ng-required="true" type="text" placeholder="Full Name"> </input>
						<div ng-show="contactForm.name.$error.required && contactForm.name.$dirty" class="alert alert-danger margin-top">
							<span class="glyphicon glyphicon-exclamation-sign"> </span>
							Nome is required
						</div>
					</div>
					<div>
						<input class="form-control margin-top" name="email" ng-model="contact.email" ng-required="true" type="email" placeholder="Email Address"> </input>
						<div ng-show="contactForm.email.$error.required && contactForm.email.$dirty" class="alert alert-danger margin-top">
							<span class="glyphicon glyphicon-exclamation-sign"> </span>
							Email is required
						</div>
						<div ng-show="contactForm.email.$error.email && contactForm.email.$dirty" class="alert alert-danger margin-top">
							<span class="glyphicon glyphicon-exclamation-sign"> </span>
							Email incorrect
						</div>
					</div>
					<div>
						<input class="form-control margin-top" name="phone" ng-model="contact.phone" ng-required="true" type="text" ng-pattern="/^\(\d{3}\) \d{3}-\d{4}$/" placeholder="Phone Number"> </input>
						<div ng-show="contactForm.phone.$error.required && contactForm.phone.$dirty" class="alert alert-danger margin-top">
							<span class="glyphicon glyphicon-exclamation-sign"> </span>
							Phone is required
						</div>
						<div ng-show="contactForm.phone.$error.pattern && contactForm.phone.$dirty" class="alert alert-danger margin-top">
							<span class="glyphicon glyphicon-exclamation-sign"> </span>
							Valid Phone: (xxx) xxx-xxxx
						</div>
					</div>
				</div>
				<div class="block-right margin-right margin-top margin-bottom">
					<button class="btn btn-success save-button" ng-click="addContact(contact)" ng-disabled="contactForm.$invalid"> Save</button>
				</div>
				
			</form>
		</div>
		
		<hr>

		<table class="table table-striped">
			<tr class="table-header">
				<th> Nome</th>
				<th> Email</th>
				<th> Phone</th>
			</tr>
			
			<tr ng-repeat=" contact in contacts">
				<td> {{contact.name}}</td>
				<td> {{contact.email}}</td>
				<td> {{contact.phone}}</td>
			</tr>
		</table>

	
	
        </div>
</body>


</html>